<header class="header-block theme-bg">
        <div class="navbar-header col-med-6 col-sm-6">
            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gaushala Municipality</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a class="nav-item" href="/home"><i class="fa fa-home"></i></a></li>
                {#                <li id="projectname"></li>#}
                {#                <li><a href="#">About Us</a></li>#}
                {#                <li><a class="nav-item btn theme-option" href="/logout">Log Out</a></li>#}
            </ul>
        </div>
</header>