{% extends 'base.html' %}{% load staticfiles %} {% block title %}Home{% endblock %}
{% block content %}
    <header class="header-block theme-bg">
        <div class="navbar-header col-med-6 col-sm-6">
            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gaushala Municipality</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a class="nav-item" href="/home"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {#                <li id="projectname"></li>#}
                {#                <li><a href="#">About Us</a></li>#}
                {#                <li><a class="nav-item btn theme-option" href="/logout">Log Out</a></li>#}
            </ul>
        </div>
    </header>
    <!-- <div class="preloader"></div> -->
    <section class="relative-block body-wrap">
        <aside class="sidebar col-md-2 col-sm-3 col-xs-12">
            <ul class="nav navbar-nav visible-xs">
                <li><a class="nav-item nav-link active" href="index.html">Home <span
                        class="sr-only">(current)</span></a></li>
                <li><a class="nav-item nav-link" href="#">Health Targets</a></li>
            </ul>
            <div class="select-box modified-bg is-fullWidth">
                <div class="timeline dropdown show">
                    <span style="border:1px solid white; padding:5px 10px; display: block;">HOUSEHOLD LEVEL</span>
                </div>
            </div>

            <div class="max-scroll">
                <div class="scrollbar-macosx">
                    <div class="scrollbar fp-noscroll">

                        <div class="section">
                            <div class="panel-group accordion" id="accordion2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title gutter-lt">
                                            <a data-toggle="collapse" data-parent="#accordion2"
                                               href="#collapse-one"><img
                                                    src="{% static 'img/baseLayer.svg' %}">ADMIN
                                                LAYER
                                                <i class="fa fa-sort-desc"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-one" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form class="sub-form">
                                                {# ward boundary #}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="ward" checked="checked">
                                                        Ward Bounary
                                                    </label>
                                                    <div class="label-img">
                                                    </div>
                                                </div>
                                                {# Municipal boundary #}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="municipality" checked="checked">
                                                        Municipality Bounary
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                {# district boundary #}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="district">
                                                        District Bounary
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                {#  province Boundary#}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="province">
                                                        Province Bounary
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                {# country boundary#}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="country">
                                                        Country Boundary
                                                    </label>
                                                    <div class="label-img">
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title gutter-lt">
                                            <a data-toggle="collapse" data-parent="#accordion2"
                                               href="#collapse-two"><img
                                                    src="{% static 'img/infrastructure.svg' %}">
                                                TOPOGRAPHY
                                                <i class="fa fa-sort-desc"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-two" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form class="sub-form">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="elevation">
                                                        Elevation
                                                    </label>
                                                    <div class="label-img">
                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="slope">
                                                        Slope
                                                    </label>
                                                    <div class="label-img">
                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="aspect">
                                                        Aspect
                                                    </label>
                                                    <div class="label-img">
                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="landcover">
                                                        Landcover
                                                    </label>
                                                    <div class="label-img">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title gutter-lt">
                                            <a data-toggle="collapse" data-parent="#accordion2"
                                               href="#collapse-three"><img
                                                    src="{% static 'img/infrastructure.svg' %}">
                                                HOUSEHOLD &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEVEL
                                                <i class="fa fa-sort-desc"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-three" class="panel-collapse collapse active in">
                                        <div class="panel-body">
                                            <form class="sub-form">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="ward_points" checked="checked">
                                                        ward
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="education">
                                                        Education
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="caste">
                                                        Caste
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="religion">
                                                        Religion
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="language">
                                                        Language
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title gutter-lt">
                                            <a data-toggle="collapse" data-parent="#accordion2"
                                               href="#collapse-four"><img
                                                    src="{% static 'img/demography.svg' %}"> WARD
                                                LEVEL
                                                <i class="fa fa-sort-desc"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-four" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form class="sub-form">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="wardpolypopulayer">
                                                        Total Population
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="wardpolychildrenpopulayer">
                                                        Children (0-14)
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="wardpolyworkingagepopulayer">
                                                        Working Age (15-64)
                                                    </label>
                                                    <div class="label-img">
                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="wardpolyagingpopulayer">
                                                        Aging (65+)
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="wardpolylitracypopulayer">
                                                        Literacy
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <label>

                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="wardpolydiseaselayer">
                                                        <div class="select-box arrow">
                                                            <select class="disease_class">
                                                                <option value="1">Heart Disease</option>
                                                                <option value="2">Cancer Disease</option>
                                                                <option value="3">Diabeties</option>
                                                                <option value="4">Asthma</option>
                                                                <option value="5">Arthritis</option>
                                                                <option value="6">Tuberculosis</option>
                                                                <option value="7">High Blood Pressure</option>
                                                                <option value="8">Gastric</option>
                                                                <option value="9">Thyroid</option>
                                                                <option value="10">HIV Aids</option>

                                                            </select>
                                                        </div>
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>

                                                <div class="checkbox">
                                                    <label>

                                                        <input type="checkbox" name="" class="layer check-layer"
                                                               id="wardpolynaturaldisasterlayer">
                                                        <div class="select-box arrow">
                                                            <select class="naturaldisaster_class">
                                                                <option value="1">Flood / Landslide</option>
                                                                <option value="2">fire</option>
                                                                <option value="3">Earthquake</option>
                                                                <option value="4">Draught</option>
                                                                <option value="5">Hailstorm/High winds</option>
                                                                <option value="6">Apidemics</option>

                                                            </select>
                                                        </div>
                                                    </label>
                                                    <div class="label-img">

                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-md-10 col-sm-9 col-xs-12 gutter-ls">
            <div class="col-layout max-height" id="switch-map">
                <ul class="nav nav-tabs switch-tab" role="tablist">
                    <li role="presentation" {% if not select_project %} class="active" {% endif %}><a href="#small"
                                                                                                      style="padding:10px 10px"
                                                                                                      aria-controls="home"
                                                                                                      role="tab"
                                                                                                      data-toggle="tab"><i
                            class="fa fa-expand"></i><span>Exit Full Screen</span></a></li>
                    <li role="presentation" {% if select_project %} class="active" {% endif %}><a href="#large"
                                                                                                  style="padding:10px 10px"
                                                                                                  aria-controls="profile"
                                                                                                  role="tab"
                                                                                                  data-toggle="tab"><i
                            class="fa fa-compress"></i><span>Enter Full Screen</span></a></li>
                </ul>
                <div class="tab-content max-height">
                    <div class="tab-pane {% if not select_project %} active {% endif %}" id="small">
                        <div class="flex-row">
                            <div class="row row-wrap flex-row-half">
                                <div class="col-md-8 col-sm-12 max-height">
                                    <div class="map max-height relative-block theme-light" id="map">
                                        <div class="absolute-block right">
                                            <div class="inline-block margin-left">
                                                <select class="form-control selState" name="selectward">
                                                    <option value="99" selected="selected">Gaushala Municipality
                                                    </option>
                                                    <option value="1">Ward No. 1</option>
                                                    <option value="2">Ward No. 2</option>
                                                    <option value="3">Ward No. 3</option>
                                                    <option value="4">Ward No. 4</option>
                                                    <option value="5">Ward No. 5</option>
                                                    <option value="6">Ward No. 6</option>
                                                    <option value="7">Ward No. 7</option>
                                                    <option value="8">Ward No. 8</option>
                                                    <option value="9">Ward No. 9</option>
                                                    <option value="10">Ward No. 10</option>
                                                    <option value="11">Ward No. 11</option>
                                                    <option value="12">Ward No. 12</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- <iframe width='750' height='650' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://www.dbtomap.com/map.aspx?id=9879c88d-1b91-41aa-8d82-d2ee3f2b5d13' ></iframe> -->
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 max-height">
                                    <div class="border-box chart-right max-height">
                                        <div class="infoGraphics max-height" id="population_pyramid"
                                             style="width:100%; height: 100%; min-height: 250px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="highchart-sm flex-row-half row-wrap">
                                <div class="max-scroll max-height">
                                    <div class="scrollbar-macosx max-height">
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box chart-right max-height">
                                                <div class="infoGraphics max-height">
                                                    <h4 class="title-bold title6 title-bg fixed">
                                                        जनसंख्या</h4>
                                                    <div class="max-scroll max-height">
                                                        <div class="scrollbar-macosx max-height">
                                                            <ul class="list-style1" id="InfoGraphicsD">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="scroll-element scroll-x scroll-scrolly_visible"
                                                         style="">
                                                        <div class="scroll-element_outer">
                                                            <div class="scroll-element_size"></div>
                                                            <div class="scroll-element_track"></div>
                                                            <div class="scroll-bar"
                                                                 style="width: 89px;"></div>
                                                        </div>
                                                    </div>
                                                    <div class="scroll-element scroll-y scroll-scrolly_visible"
                                                         style="">
                                                        <div class="scroll-element_outer">
                                                            <div class="scroll-element_size"></div>
                                                            <div class="scroll-element_track"></div>
                                                            <div class="scroll-bar"
                                                                 style="height: 144px; top: 0px;"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="caste_distri"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="income_source"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="famine"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="family_type"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="language_distri"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="death"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="death_by_sex"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="ownership"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="marital"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="equipment"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="tax"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="wall"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="roof"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="water"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="toilet"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="light"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="energy"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="passedlevel"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                                <div class="infoGraphics max-height" id="totalpassed"
                                                     style="width:100%; min-height: 150px">
                                                </div>

                                            </div>
                                            <div id="but_passed">
                                                <i class="fa fa-bar-chart" style="font-size:20px;color:#23527a" title="View in bar-graph"></i>
                                            </div>

                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="studyinglevel"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                                <div class="infoGraphics max-height" id="totalstudying"
                                                     style="width:100%; min-height: 150px">
                                                </div>
                                            </div>
                                            <div id="but_studying">
                                                <i class="fa fa-bar-chart" style="font-size:20px;color:#23527a" title="View in bar-graph"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="passedbysex"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="schooltype"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="disease"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                                <div class="infoGraphics max-height" id="totaldisease"
                                                     style="width:100%; min-height: 150px">
                                                </div>
                                            </div>
                                            <div id="but_disease">
                                                <i class="fa fa-bar-chart" style="font-size:20px;color:#23527a" title="View in bar-graph"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="agriculture"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="animal"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="society"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="family"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="destructiontype"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
{#                                            <div class="infoGraphics max-height" id="totaldestruction"#}
{#                                                     style="width:100%; min-height: 150px">#}
{#                                                </div>#}

                                            </div>
{#                                            <div id="but_destruction">#}
{#                                                <i class="fa fa-bar-chart" style="font-size:20px;color:#23527a" title="View in bar-graph"></i>#}
{#                                            </div>#}
                                        </div>
                                        <div class="col-md-4 col-sm-12 max-height margin-btm">
                                            <div class="border-box max-height">
                                                <div class="infoGraphics max-height" id="destruction"
                                                     style="width:100%; height: 100%; min-height: 250px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane {% if select_project %}active {% endif %}" id="large">
                        <div class="flex-row">
                            <div class="map max-height relative-block theme-light" id="map-enlarged">
                                <!-- <iframe width='750' height='650' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://www.dbtomap.com/map.aspx?id=9879c88d-1b91-41aa-8d82-d2ee3f2b5d13' ></iframe> -->
                                <div class="absolute-block left length">
                                    <div class="inline-block margin-left">
                                        <!-- <span>title:Nepal</span> -->
                                        <select class="form-control selState" name="selectward">
                                            <option value="99" selected="selected">Gaushala Municipality</option>
                                            <option value="1">Ward No. 1</option>
                                            <option value="2">Ward No. 2</option>
                                            <option value="3">Ward No. 3</option>
                                            <option value="4">Ward No. 4</option>
                                            <option value="5">Ward No. 5</option>
                                            <option value="6">Ward No. 6</option>
                                            <option value="7">Ward No. 7</option>
                                            <option value="8">Ward No. 8</option>
                                            <option value="9">Ward No. 9</option>
                                            <option value="10">Ward No. 10</option>
                                            <option value="11">Ward No. 11</option>
                                            <option value="12">Ward No. 12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="absolute-block right">
                                    <div class="inline-block absolute-tab margin-left">
                                        <div class="flex-box">
                                            <div class="tab-item">
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane relative-block" id="home">
                                                        <div class="flex-box text-center">
                                                            <div class="item relative-block map-wrap">
                                                                <figure class="full-block">
                                                                    <img src="/static/img/none.png">
                                                                </figure>
                                                                <a href="#" class="has-link">None</a>
                                                            </div>
                                                            <div class="item relative-block map-wrap">
                                                                <figure class="full-block">
                                                                    <img src="/static/img/screenshot.png">
                                                                </figure>
                                                                <a href="#" class="has-link">OSM</a>
                                                            </div>
                                                            <div class="item relative-block map-wrap">
                                                                <figure class="full-block">
                                                                    <img src="/static/img/bing.png">
                                                                </figure>
                                                                <a href="#" class="has-link">Satellite</a>
                                                            </div>
                                                        </div>
                                                        <button class="close-button">x</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-bar">
                                                <ul class="nav nav-tabs text-center" role="tablist">
                                                    <li class="">
                                                        <a href="#home" aria-controls="home" role="tab"
                                                           data-toggle="tab">
                            <span class="full-block">
                              <i class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19">
                                  <path d="M18 9.474a2.015 2.015 0 0 0-.937-1.711c.62-.402.949-1.057.937-1.711a2.011 2.011 0 0 0-.984-1.746L10.774.494h-.012A3.33 3.33 0 0 0 9.005 0c-.608 0-1.23.16-1.768.494L.995 4.306a2 2 0 0 0-.984 1.746 2.004 2.004 0 0 0 .937 1.71A2.055 2.055 0 0 0 0 9.475c0 .654.328 1.309.948 1.71a2.043 2.043 0 0 0-.937 1.712c0 .666.34 1.355.996 1.757l6.254 3.8a3.331 3.331 0 0 0 1.756.494c.61 0 1.218-.16 1.757-.493l6.23-3.801A2.07 2.07 0 0 0 18 12.896c0-.643-.316-1.298-.937-1.711.62-.402.949-1.057.937-1.711zm-1.921 3.72l-6.23 3.801a1.614 1.614 0 0 1-1.663 0l-6.254-3.8c-.117-.081-.164-.173-.164-.3 0-.126.047-.218.164-.286l.668-.402 4.649 2.824a3.436 3.436 0 0 0 1.756.494c.61 0 1.218-.172 1.757-.494l4.65-2.824.667.402a.315.315 0 0 1 .164.287c0 .126-.047.218-.164.298zm0-3.422l-1.124.69-5.118 3.111c-.258.15-.539.23-.832.23a1.64 1.64 0 0 1-.831-.23l-5.118-3.112-1.124-.689c-.129-.08-.164-.172-.175-.298.011-.115.046-.219.175-.287l.656-.402 4.66 2.824c.54.333 1.149.494 1.757.494.61 0 1.218-.16 1.757-.482l4.661-2.837.656.402a.315.315 0 0 1 .164.287c0 .127-.047.219-.164.3zm0-3.422l-1.147.7c-.012.012-.024.012-.036.024L9.837 10.15a1.54 1.54 0 0 1-.832.23 1.51 1.51 0 0 1-.831-.23l-5.06-3.077c-.01-.012-.023-.012-.034-.023l-1.148-.7a.37.37 0 0 1-.175-.3.35.35 0 0 1 .175-.286l6.242-3.813c.258-.15.539-.23.831-.23.293 0 .575.08.832.23l6.242 3.813a.315.315 0 0 1 .164.287.32.32 0 0 1-.164.298z"/>
                                </svg>
                              </i>
                            </span> Base Map
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer sm-center">
    <section class="row">
        <div class="results">
            <div class="result-title">
                <div class="gutter-ls-btm">
                    <span class="close-button right">X</span>
                    <ul class="nav nav-tabs black">
                        <li class="active">
                            <a href="#scenario" data-toggle="tab">Scenario</a>
                        </li>
                        <li>
                            <a href="#result" data-toggle="tab">Result</a>
                        </li>
                        <li>
                            <a href="#comparision" data-toggle="tab">Comparision Curve</a>
                        </li>
                        <li>
                            <a href="#ratio-curve" data-toggle="tab">Ratio Curve</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="results-wrap gutter2">
                <div class="result-description clearfix" id="accordion">
                    <div class="result-main">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <div class="result-evaluate">
                                <div class="result-shape"><i class="fa fa-angle-up"></i></div>
                            </div>
                        </a>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="table-bar-main row">
                                <div class="col-sm-12">
                                    <div class="tab-content">
                                        <div id="result" class="tab-pane fade">
                                            <div class="alert alert-danger">Please Select The Project First</div>


                                        </div>
                                        <div id="scenario" class="tab-pane fade in active">
                                            <div class="accordion" id="myAccordion">
                                                <div class="alert alert-danger">Please Select The Project First</div>

                                            </div>
                                        </div>
                                        <div id="comparision" class="tab-pane fade">
                                            <div class="accordion" id="myAccordion">
                                                <div class="alert alert-danger">Please Select The Project First</div>
                                            </div>
                                        </div>
                                        <div id="ratio-curve" class="tab-pane fade">
                                            <div class="accordion" id="myAccordion">
                                                <div class="alert alert-danger">Please Select The Project First</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    $('#passedlevel').hide();
    $('#studyinglevel').hide();
    {#$('#destructiontype').hide();#}
    $('#disease').hide();

    $('#but').tooltip();

    $('#but_passed i').click(function(){
        $('#passedlevel,#totalpassed').toggle();
    });


    $('#but_studying i').click(function(){
        $('#studyinglevel,#totalstudying').toggle();
    });

    {#$('#but_destruction i').click(function(){#}
    {#    $('#destructiontype,#totaldestruction').toggle();#}
    {#});#}

    $('#but_disease i').click(function(){
        $('#disease,#totaldisease').toggle();
    });
    </script>
    <style>
    #totalpassed{
        position:relative;
    }
    #but_passed, #but_studying, #but_destruction, #but_disease{
        position: absolute;
        top:12px;
        left:17px;
        margin-right:17px;
        margin-bottom: 12px;
    }
    </style>
{% endblock %}
</footer>